{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0
  }
}
